<app-header titulo="Reporte">

</app-header>

<ion-content class="ion-padding" mode="ios">


    <ion-list-header>

        <ion-label>Inicio</ion-label>
    </ion-list-header>


    <ion-item>
        <ion-label>Selecciona un filtro:</ion-label>
        <ion-select name=noEconomico [(ngModel)]="itemSeleccionado" interface="action-sheet">
            <ion-select-option value="folioAsignacion"> Folio asignacion</ion-select-option>
            <ion-select-option value="unidadTransporte.noEconomico"> Unidad </ion-select-option>
            <ion-select-option value="condcutor.idConductor"> Conductor </ion-select-option>
        </ion-select>
    </ion-item>

    <form (ngSubmit)="enviarFolioA (formAsignacion )" #formAsignacion="ngForm" mode="ios">
        <ion-item *ngIf="itemSeleccionado == 'folioAsignacion'">
            <ion-label>Selecciona el folio:</ion-label>
            <ion-select name=folioAsignacion [(ngModel)]="reporte.folioAsignacion" interface="action-sheet">
                <ion-select-option *ngFor="let asig of asignaciones | async" value={{asig.folioAsignacion}}> {{asig.folioAsignacion}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="itemSeleccionado == 'unidadTransporte.noEconomico'">
            <ion-label>Selecciona el no. Eco:</ion-label>
            <ion-select name=noEconomico [(ngModel)]="reporte.folioAsignacion" interface="action-sheet">
                <ion-select-option *ngFor="let asig of asignaciones | async" value={{asig.folioAsignacion}}> {{asig.unidadTransporte.noEconomico}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="itemSeleccionado == 'condcutor.idConductor'">
            <ion-label>Selecciona el conductor:</ion-label>
            <ion-select name=noEconomico [(ngModel)]="reporte.folioAsignacion" interface="action-sheet">
                <ion-select-option *ngFor="let asig of asignaciones | async" value={{asig.folioAsignacion}}> {{asig.conductor.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Datos de la asignación:</ion-label>
        </ion-item>

        <ion-list *ngFor="let asigna of( asignaciones | async) | filtro:reporte.folioAsignacion:'folioAsignacion'">
            <ion-item>
                <ion-label>Fecha: {{asigna.fecha}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>No. economico: {{asigna.unidadTransporte.noEconomico}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Conductor: {{asigna.conductor.nombre}} </ion-label>
            </ion-item>

            <ion-button expand="block" type="submit" (click)="irAReporteDatosGenerales()">
                Siguiente
            </ion-button>

        </ion-list>

    </form>



</ion-content>