<app-header titulo="Revisión">

</app-header>

<ion-content class="ion-padding">

    <form #formulario="ngForm" mode="ios">

        <ion-list-header>
            <ion-label>Problemas con la unidad</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Llantas:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.llantas name="espejoInterior"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Fugas:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.fugas name="espejoLateralIzquierdo"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Direccion:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.direcion name="espejoLateralDerecho"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sonido en frenos:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.sonidoFrenos name="espejoLateralDerecho"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Tarda tiempo en frenar:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.tardaTiempoFrenar name="tapondeGasolina"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Clutch:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.clutch name="tapondeAceite"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Perdida de potencia:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.perdidaPotencia name="tapondeRadiador"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sonido en suspención:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.sonidoSuspension name="limpiadores"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Cambio de velocidades:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.cambioVelocidades name="depositodeAgua"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>No enciende:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.noEnciende name="perillaPalancaVelocidad"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Sin batería:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.sinBateria name="viceras"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Humo:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.humo name="manijasdeElevadores"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Cristal:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.cristal name="tapasdePuertas"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Puertas caídas:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.puertasCaidas name="cenicero"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>No abre puerta:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.noAbrePuerta name="guantera"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Se va de lado:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.seVaDeLado name="tapetes"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Asientos, tableros, chapas:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.asientosTableroChapas name="bayoneta"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Espejos:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.espejos name="faros"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Luces:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.luces name="cinturondeSeguridad"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Otro ¿Cuál?:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=problemasUnidad.otro name="botondeSeguridadPuertas"></ion-checkbox>
        </ion-item>

        <ion-button [disabled]="formulario.invalid" type="submit" expand="block" (click)="irATipoServicio()">
            Siguiente
        </ion-button>

    </form>


</ion-content>