<app-header titulo="Asignar"></app-header>


<ion-content class="ion-padding">


    <form (ngSubmit)="enviarDocumentos (formDocumentos )" #formDocumentos="ngForm" mode="ios">

        <ion-list-header>
            <ion-label>Documentos</ion-label>

        </ion-list-header>
        <ion-list-header>
            <ion-label class="textUnidad">Unidad: {{noEconomico}} </ion-label>
        </ion-list-header>
        <ion-list *ngFor="let unidad of( unidades | async) | filtro:noEconomico:'noEconomico'">

            <ion-item>
                <ion-label>Placas de circulacion: </ion-label>
                <ion-checkbox color="primary" slot="end" name="placasCirculacion" [(ngModel)]="unidad.documentos.placasdeCirculacion">
                </ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label>Tarjeta de circulacion: </ion-label>
                <ion-checkbox color="primary" slot="end" [(ngModel)]=unidad.documentos.tarjetadeCirculacion name="tarjetadeCirculacion"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label>Poliza de seguro: </ion-label>
                <ion-checkbox color="primary" slot="end" [(ngModel)]=unidad.documentos.polizadeSeguro name="polizaSeguro"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-radio-group mode="md" name="verificacionVehicular" [(ngModel)]=unidad.documentos.verificacionVehicular>

                    <ion-label>Verificacion:</ion-label>
                    <ion-item>
                        <ion-label>Primer semestre:</ion-label>
                        <ion-radio slot="start" value="primerSemestre" name="primerSemestre"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Año:</ion-label>
                        <ion-radio slot="start" value="Anio" name="anio"></ion-radio>
                    </ion-item>

                </ion-radio-group>
            </ion-item>
            <ion-item>
                <ion-label>Tenencia:</ion-label>
                <ion-checkbox color="primary" slot="end" [(ngModel)]=unidad.documentos.tenencia name="tenencia"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Engomado de placas:</ion-label>
                <ion-checkbox color="primary" slot="end" [(ngModel)]=unidad.documentos.engomado name="engomado"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-button expand="block" type="submit">
            Siguiente
        </ion-button>

    </form>

</ion-content>