<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Atras" color="primary">
            </ion-back-button>
        </ion-buttons>

        <ion-title class="ion-text-center ion-text-capitalize"> {{ titulo }}</ion-title>


        <ion-buttons slot="end">
            <ion-button color="danger" text="Cancelar">
                Cancelar
                <!-- <ion-icon slot="end" name="close-circle-outline"></ion-icon> -->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>