<ion-header [translucent]="true" class="ion-no-border ">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
            SIANCOR-VEHICULOS
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content color="">

    <ion-slides pager="ios" class="slide-full">
        <ion-slide>
            <div class="slide">
                <img src="./assets/img/logo.png" />
                <h2>Bienvenido</h2>
            </div>
        </ion-slide>

        <ion-slide *ngFor="let slide of slides">

            <ion-card mode="ios">
                <img [src]="slide.img" class="slide-image" />
                <ion-card-header>
                    <ion-card-subtitle class="txtencabezadoinicio">{{slide.titulo}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="txtnumero">
                    {{slide.cantidad}}
                </ion-card-content>
            </ion-card>

        </ion-slide>


    </ion-slides>

    <div>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" class="btnMenu" routerLink="/asignar">
                        <ion-icon size="large" slot="icon-only" name="car-outline"></ion-icon>
                        Asignar unidad
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button expand="block" class="btnMenu" routerLink="/revision">
                        <ion-icon size="large" slot="icon-only" name="construct-outline"></ion-icon>
                        Revisar unidad
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button expand="block" class="btnMenu" routerLink="/reporte">
                        <ion-icon size="large" slot="icon-only" name="settings-outline"></ion-icon>
                        Reportar daño o servicio
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>



    </div>

</ion-content>