.slide-full {
    height: 70% !important;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: 200px;
    width: 350px;
}

.slide-image {
    width: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Botones
.btnMenu {
    height: 80px;
}

.txtencabezadoinicio {
    font-size: 25px;
    color: rgb(88, 155, 255);
}

.txtnumero {
    font-size: 35px;
    font-family: 'Anton' !important;
    color: rgb(27, 101, 238);
}

.coloAzul {
    background: rgb(6, 96, 255) !important;
    background: linear-gradient(140deg, rgba(6, 96, 255, 1) 7%, rgba(28, 64, 128, 1) 94%) !important;
}