<ion-grid>
    <ion-row class="contenedorPersonalizado">
        <ion-col size="12">
            <ion-card class="colorCard">
                <ion-item color="dark">
                    <ion-fab-button slot="start" color="secondary" (click)="onClickClean()">
                        <ion-icon name="refresh"></ion-icon>
                    </ion-fab-button>

                    <ion-label class="ion-text-center">{{label}}</ion-label>

                    <ion-fab-button slot="end" color="primary" (click)="onClickSuccess()">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-fab-button>
                </ion-item>
                <signature-pad #signaturePad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>

            </ion-card>

        </ion-col>


    </ion-row>

    <!-- <ion-row class="colorCard2">
        <ion-col size="12" class="colorCard2">
            <ion-fab vertical="bottom" horizontal="start">
                <ion-fab-button color="tertiary" (click)="onClickClean()">
                    <ion-icon name="refresh"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button color="secondary" (click)="onClickSuccess()">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
    </ion-row> -->


</ion-grid>