<ion-grid>
    <ion-row>
        <ion-col size="12">
            <ion-card>
                <ion-item color="primary">
                    <ion-icon name="pencil" slot="start"></ion-icon>
                    <ion-label>{{label}}</ion-label>
                </ion-item>
                <signature-pad #signaturePad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-fab vertical="bottom" horizontal="start">
                <ion-fab-button color="tertiary" (click)="onClickClean()">
                    <ion-icon name="refresh"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button color="secondary" (click)="onClickSuccess()">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
    </ion-row>
</ion-grid>