<app-header titulo="Asignacion">

</app-header>

<ion-content class="ion-padding">

    <form mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-lg="12" size-md="12" size-sm="12">
                    <p>Recibo de conformidad la unidad que se describe, propiedad de esta empresa, para el desarrollo de mi trabajo y me responsabilizo del uso que se le da a la misma así también de las infracciones, disposiciones y reglamentos de y transito
                        que se comentan por mi culpa o negligencia, quedando enterado que devolveré el vehículo de las mismas condiciones que se describe salvo el deterioro normal cuando así se me sea requerido. </p>
                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <app-signature-pad label="Jefe de grupo"> </app-signature-pad>

                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <app-signature-pad label="Taller"> </app-signature-pad>

                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <app-signature-pad label="Jefe de ventas"> </app-signature-pad>

                </ion-col>
                <ion-col size="12" size-lg="6" size-md="6" size-sm="12">
                    <app-signature-pad label="Vendedor"> </app-signature-pad>

                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button expand="block" color="primary" type="submit">
            Finalizar
        </ion-button>

    </form>



</ion-content>