<app-header titulo="Asignacion">

</app-header>

<ion-content class="ion-padding">

    <form mode="ios">


        <ion-item>
            <p>Recibo de conformidad la unidad que se describe, propiedad de esta empresa, para el desarrollo de mi trabajo y me responsabilizo del uso que se le da a la misma así también de las infracciones, disposiciones y reglamentos de y transito que
                se comentan por mi culpa o negligencia, quedando enterado que devolveré el vehículo de las mismas condiciones que se describe salvo el deterioro normal cuando así se me sea requerido. </p>
        </ion-item>


        <app-signature-pad label="Jefe de grupo"> </app-signature-pad>

        <app-signature-pad label="Taller"> </app-signature-pad>

        <app-signature-pad label="Jefe de ventas"> </app-signature-pad>

        <app-signature-pad label="Vendedor"> </app-signature-pad>

        <ion-button expand="block" color="primary" type="submit">
            Finalizar
        </ion-button>

    </form>



</ion-content>