<app-header titulo="Asignar"></app-header>

<ion-content class="ion-padding">


    <form #formulario="ngForm" mode="ios">

        <ion-label class="textIndicacion">Seleccione al conductor</ion-label>
        <ion-list-header>

            <ion-label>Datos del conductor</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label required>Nombre:</ion-label>
            <ion-select ok-text="Okay" cancel-text="Cancelar">
                <ion-select-option value="Juan">Juan</ion-select-option>
                <ion-select-option value="lunix">Julian</ion-select-option>
                <ion-select-option value="mac7">Joaquin</ion-select-option>
                <ion-select-option value="mac8">Jose</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>Departamento:</ion-label>
            <ion-input type="text" [(ngModel)]=conductor.departamento name="departamento" required placeholder="Logistica"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Licencia:</ion-label>
            <ion-input type="text" [(ngModel)]=conductor.licencia name="licencia" required placeholder="ESDRDC"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Tipo:</ion-label>
            <ion-input type="text" [(ngModel)]=conductor.tipo name="tipo" required placeholder="A"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Fecha de Vencimiento:</ion-label>
            <ion-input type="text" [(ngModel)]=conductor.fechaVencimiento name="fechaVencimiento" required placeholder="09-01-2023"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>Estado:</ion-label>
            <ion-input type="text" [(ngModel)]=conductor.estado name="Estado" required placeholder="Monterrey"></ion-input>
        </ion-item>

        <ion-button [disabled]="formulario.invalid" type="submit" expand="block" (click)="mostrarVehiculo()">
            Siguiente
        </ion-button>

        <!-- <ion-button (click)="mostrarVehiculo()" expand="block">
            Click me
        </ion-button> -->

    </form>


</ion-content>