<app-header titulo="Asignar"></app-header>

<ion-content class="ion-padding" mode="ios">

    <form (ngSubmit)="enviaridconductor (formAsignacion )" #formAsignacion="ngForm" mode="ios">

        <ion-label class="textIndicacion">Seleccione al conductor</ion-label>
        <ion-list-header>

            <ion-label>Datos del conductor</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label required>Nombre:</ion-label>
        </ion-item>

        <ion-item>

            <!-- (ionChange)="capturar()" -->
            <ion-select name=idConductor [(ngModel)]="asignacion.idConductor" interface="action-sheet">
                <ion-select-option *ngFor="let c of conductores | async" value={{c.idConductor}}>{{c.nombre}}</ion-select-option>
            </ion-select>

        </ion-item>

        <ion-list *ngFor="let con of( conductores | async) | filtro:asignacion.idConductor:'idConductor'">
            <ion-item>
                <ion-label>Departamento: {{con.departamento}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Licencia: {{con.noLicencia}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Tipo: {{con.tipo}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de Vencimiento: {{con.fechadeVencimiento}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Estado: {{con.estado}} </ion-label>
            </ion-item>
            <ion-button type="submit" expand="block" (click)="mostrarVehiculo()">
                Siguiente
            </ion-button>
        </ion-list>



    </form>


</ion-content>