<app-header titulo="Revisión"></app-header>

<ion-content class="ion-padding">

    <form #formulario="ngForm" mode="ios">

        <ion-list-header>
            <ion-label>Tipo de servicio</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Correctivo:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.correctivo name="espejoInterior"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Preventivo mayor:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.preventivoMenor name="espejoLateralIzquierdo"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Preventivo medio:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.preventivoMedio name="espejoLateralDerecho"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Preventivo menor:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.preventivoMayor name="espejoLateralDerecho"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Alineamiento y balanceado:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.alineamientoBalanceado name="espejoLateralDerecho"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Rotulación:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.rotulacion name="tapondeGasolina"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Muelles:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.muelles name="tapondeAceite"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Servicio de lavadoo:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.serviciodeLavado name="tapondeRadiador"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Vestiduras:</ion-label>
            <ion-checkbox color="primary" checked slot="end" [(ngModel)]=tipodeServicio.vestiduras name="limpiadores"></ion-checkbox>
        </ion-item>

        <ion-button [disabled]="formulario.invalid" type="submit" expand="block" (click)="irAFirmasRevision()">
            Siguiente
        </ion-button>

    </form>


</ion-content>